* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header {
    width: 100%;
    height:10%;
    text-align: center;
   
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 28px;
    margin-top: 7px;
    padding: 17px;
}

nav {
    width:100%;
    display:flex;
    justify-content: flex-end;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   

}

#aboutme, #card-holder, .form-container, nav { background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MjQ0MjUz/website-background-templates.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;}

#aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.about-me-text {
    border-radius: 15px;
    text-align: center;
    padding:2%;
    background-image: linear-gradient(#f1f9f9, #f3dfe3);
}

a {
    text-decoration: none;
    color: black;  
}

.material-icons {
    margin-top:1%;
}


.hero {
    width:100%;
    height:40%;
    opacity: 100%;
    
}

p {
    margin:2%;
    
}

h1 {
   
    font-family: "sofia", sans-serif;
    font-size: 200%;
    float:left;
    margin: 1%;
    color:black;
    text-align: center;
}

h2 

{ font-family: "sofia", sans-serif;
    text-align: center;
}


.project-title {
    font-family: "sofia", sans-serif;
    font-size: 150%;
    color: black;
    position:absolute;
    margin-top: 8%;
    opacity: 80%;
    background-color: white;

}


.memoji {
    height:130%;
    border-radius: 100%;
    border-bottom: solid 2px black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    
}

#flexbox-container {

height:100%;
display:flex;
justify-content: space-around;
flex-grow:1;

}

#card-holder {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.box {

    width:40%;
    height:30%;
    border-radius: 5%;  
    box-shadow: 10px 10px 50px grey;
    margin:2%;  
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


     
}

.box-larger {

    width:50%;
    height:60%;
    border-radius: 5%;  
    box-shadow: 10px 10px 50px grey;
    margin:2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

     
}



/* Change the box images to links  */

.boximage {
    width: 100%;
    height:100%;
    overflow: hidden;
    border-radius: 15px;

}

.form-container {
    width: 100%;
    border: 2px solid white;
    border-radius: 15px;
    padding:1%;


}

 form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding:5%;
    

}

#message {
    height:150px;
}

label {
    margin:1%;
}

input {
    width:75%;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
    
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; 
  } 

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 1%;
    }
    
    button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
    }



a:hover   {
    color:black;
    text-decoration: underline;
}


.box:hover,.box-larger:hover, .text-input:hover, button {
    cursor: pointer;
    transform: scale(1.1);

  }


@media screen and (max-width: 1000px) {
    body {
        display:flex;
        flex-direction: column;
        margin:0;
    }

    nav{
        flex-direction: column;
    }

    #card-holder {
        flex-direction: column;
    flex-wrap: nowrap;
    }

    .box {
        width:70%;
        height:50%;       
    }

    .box-larger {
        width:80%;
        height:60%;
    }

    .memoji {
        height:80%;
    }

    .hero {
        height:100%;
    }


}


